# Node modules
/node_modules
/client/node_modules
/server/node_modules

# Build / Dist / Output
/client/build
/server/build
/server/dist

# Logs and system files
nohup.out
*.log

# Env files
server/test.env
# .env

# Optional caches
.cache/